.Photo {
    width: 35%;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 20px;
    margin-top: 75px;
    box-sizing: border-box;
    cursor: pointer;
}

.Photo:hover,
.Photo:active {
    background-color: #C0DDF5;
}

.Votes {
    font-family: 'Indie Flower', cursive;
    margin: 16px 0;
    font-size: 40px;
}

.imge {
    width: 100%;
    height: 100%;
}

.img {
    height: 50%;
}